.single_container {
  margin: 30px auto;
  width: 640px;
}

.container {
  width: 640px;
  margin: 30px;
}

.number_block {
  text-align: center;
}

.bottom_block {
  display: flex;
  justify-content: space-between;
}

.price_block {
  display: flex;
  align-items: center;
}
