.container {
  display: flex;
  justify-content: space-between;
}

.orders_status_block_wrapper {
  width: 45%;
}

.orders_status_block {
  list-style: none;
  height: 210px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  color: #00cccc;
}
