.ingredient_item {
  position: relative;
  width: 272px;
  height: 208px;
  cursor: pointer;
}

.image {
  display: block;
  margin: 0 auto;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price_text {
  font-size: 28px;
}

.name_text {
  text-align: center;
}
