.profile_nav_link {
  text-decoration: none;
}

.profile_nav_active_link {
  color: #f2f2f3;
}

.nav_container {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.profile_container {
  display: flex;
}

.error_info {
  color: red;
}

.ok_message_info {
  color: green;
}
