.modal_content {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c1c21;
  /* width: 720px;
  height: 539px; */
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  z-index: 9999;
}

.close_icon {
  position: absolute;
  top: 50px;
  right: 40px;
  cursor: pointer;
}
