.section_container {
  width: 600px;
}

.ingredients {
  height: 700px;
  overflow-y: scroll;
}

.tab_block {
  display: flex;
}

.tab_block > div {
  width: 100%;
}

.ingredients_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ingredient_type {
  font-size: 24px;
}

/* ---------- SCROLLBAR ---------- */

.ingredients_wrapper {
  height: 686px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-height: 670px) {
  .ingredients_wrapper {
    max-height: 460px;
  }
}

.ingredients_wrapper::-webkit-scrollbar {
  width: 8px;
  background: #2f2f37;
}

.ingredients_wrapper::-webkit-scrollbar-thumb {
  height: 50%;
  background: #8585ad;
  border: 3px solid #8585ad;
}
