.header {
  height: 88px;
  background-color: #1c1c21;
}

.header_container {
  max-width: 1240px;
  margin: 0 auto;
  height: 100%;
}

.header_element {
  min-width: 33%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu_list {
  display: flex;
  /* justify-content: space-between; */
}

.left_menu {
  justify-content: flex-start;
}

.right_menu {
  justify-content: flex-end;
}

.menu_list_item {
  display: flex;
}

.menu-list-item:not(:first-child) {
  margin-left: 10px !important;
}
